/* ログ確認画面、登録画面共用 */
.tableCell-basic {
  text-align: right !important;
  border-left:1px solid #e0e0e0 !important;
  border-right:1px solid #e0e0e0 !important;
  width: 50px;
}

.tableCell-input {
  padding: 8px 2px 4px 2px !important;
}

.tableCell-sideHeader {
  padding: 14px !important;
  width: 80px;
}

.table-Border {
  border-bottom:1px solid #e0e0e0 !important;
}

.tableCell-Width {
  width: 50px;
}

.trainingLogHeader,
.trainingLogTotal {
  padding: 10px;
}

.trainingLogMemo {
  padding: 15px;
}

.trainingDate {
  font-size: 20px;
}

/* 登録画面でのみ使用 */
.flexArea {
  display: flex;
}

.flexArea>div:last-of-type {
  margin-left: auto;
}